.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input_form {
  margin-bottom: 20px;
}

.outlined-basic {
  margin-bottom: 20px;
}

.header_comment {
  display: flex;
  height: 50px;
  background-color: aliceblue;
  padding: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.name {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

.date {
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
}

.text {
  margin-bottom: 20px;
}